body{
	background-image: url('../img/10337640.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-weight: bold;
}
h1{
	color: #e7684f;
	font-family: Verdana;
	text-align: center;
	text-transform: uppercase;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:white;
}
.main{
	width: 30%;
	background-color: rgba(231,104,79,0.4);
	padding: 25px;
	text-align: center;
	position: relative;
	top: 200px;
	left: 100px;
}
select{
	width: 30%;
	height: 30px;
	border-radius: 5px;
}
.submit{
	background-color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;

}
form{
	margin: 10px;
}